.App {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container {
    width: 50%;
}

.button {
    background-color: #1976d2;
    width: 100%;
}

.button-link {
    text-decoration: none;
    color: white;
    padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

header {
    width: 100%;
    background-color: white;
    box-shadow: #CCCCCC 0px 0px 5px 0px;
    margin-bottom: 50px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #3b3b3b;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
}

li {
    background-color: #1976d2;
    padding: 20px;
    margin: 5px;
    box-shadow: #CCCCCC 0px 0px 5px 0px;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
}

li:hover {
    background-color: #1f89f1;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
